<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AshClUB: Welcome to the global chat</title>
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="logo">
                <h2>AshCLUB.</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/signup">Sign up</a></li>
                </ul>
            </nav>
        </div>

        <div class="heading">
            <h1>Welcome to the Real Time Chat Application where you can connect and chat with saveral unknown persons.</h1>
            <button type="button"><a href="/login">Enter</a></button>
        </div>
    </div>
</body>
</html>